@font-face {
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Regular.woff2") format("woff2"), url("../fonts/Onest-Regular'.woff") format("woff");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Medium.woff2") format("woff2"), url("../fonts/Onest-Medium'.woff") format("woff");
  font-weight: 500;
  font-style: "normal";
}

@font-face {
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Bold.woff2") format("woff2"), url("../fonts/Onest-Bold'.woff") format("woff");
  font-weight: 700;
  font-style: "normal";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  color: #0A3141;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  background-image: url("../img/bg.jpg");
  background-color: lightgray;
  background-position: 0% 0%;
  background-repeat: repeat;
  line-height: 1.2;
  font-family: "Onest", sans-serif;
  -ms-overflow-style: scrollbar;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 10px;
  background-color: #F4F6F6;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: #0A3141;
  border-radius: 4px;
}

body::-webkit-scrollbar-button:vertical:start:decrement,
html::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #F4F6F6 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #F4F6F6 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #F4F6F6 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #F4F6F6;
}

body::-webkit-scrollbar-button:vertical:end:increment,
html::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #F4F6F6 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #F4F6F6 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #F4F6F6 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #F4F6F6;
}

a,
a:hover,
a:active,
a:link,
a:focus {
  text-decoration: none;
  outline: none;
  color: #0A3141;
  transition: 0.2s;
  font-size: 16px;
}

a:hover,
a:hover:hover,
a:active:hover,
a:link:hover,
a:focus:hover {
  transition: 0.2s;
  color: #2CB4C2;
}

p {
  line-height: 1.5;
  display: block;
}

b {
  display: block;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.7px;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
  padding-left: 20px;
}

div,
span,
article,
nav,
section,
main,
header {
  padding: 0;
  margin: 0;
}

input,
button,
select,
textarea {
  box-shadow: none;
  color: #181818;
  background-color: #fff;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  font-family: "Onest", sans-serif;
}

input option,
button option,
select option,
textarea option {
  background-color: #fff;
  color: #181818;
}

input:placeholder,
button:placeholder,
select:placeholder,
textarea:placeholder {
  font-size: 16px;
  color: #090d14;
}

textarea {
  resize: none;
  max-width: 100%;
  width: 100%;
  border: none;
  max-height: 160px;
  padding: 10px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  background: #fff;
  color: #181818;
  box-shadow: none;
}

input[type=text],
input[type=tel],
input[type=submit],
button,
input[type=password],
input[type=email] {
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 15px;
  border: none;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
}

input[type=submit],
button {
  cursor: pointer;
}

input[type=number] {
  padding: 10px 15px;
  width: 100%;
  max-width: 440px;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  visibility: hidden;
  position: absolute;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
select:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  display: block;
}

.container,
.mob-nav .menu_sublist {
  width: 100%;
  max-width: 1270px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section {
  margin-bottom: 80px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.icon {
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  transition: 0.2s;
}

svg {
  transition: 0.2s;
}

svg path,
svg rect {
  transition: 0.2s;
}

svg:hover {
  transition: 0.2s;
}

svg:hover path,
svg:hover rect {
  transition: 0.2s;
}

.fixed {
  overflow-y: hidden;
  display: block;
  position: relative;
  background-color: #fff;
  max-width: calc(100% - 10px);
}

.fixed .header.scrolled {
  right: auto;
  max-width: calc(100% - 10px);
}

.fixed .header::after {
  height: 100%;
  width: 10px;
  right: -10px;
  top: 0;
  position: absolute;
  background-color: #fff;
  content: "";
}

.offer {
  background-color: #0A3141;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer .wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 160px;
  padding-bottom: 70px;
  overflow: hidden;
  position: relative;
}

.offer .russia {
  position: absolute;
  right: 0;
  bottom: 70px;
}

.offer .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: auto;
}

.offer .btns .button {
  margin-right: 14px;
}

.offer .btns .button:last-child {
  margin-right: 0;
}

.offer h1 {
  color: #fff;
  max-width: 980px;
  display: block;
  font-size: 72px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -2.1px;
  margin-bottom: 24px;
}

.offer p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  display: block;
  line-height: 1.2;
  max-width: 430px;
  margin-bottom: 190px;
}

@keyframes header {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.mob-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 15px 0;
}

.mob-header .logo .dark {
  display: none !important;
}

.mob-header .logo .light {
  display: block !important;
}

.mob-header.scrolled {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  background-color: #fff;
  transform: translateY(-100%);
  animation-name: header;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.mob-header.white,
.mob-header.scrolled {
  border-bottom: 1px solid #E5E7EB;
  background-image: url("../img/bg.jpg");
  background-color: lightgray;
  background-position: 0% 0%;
  background-repeat: repeat;
}

.mob-header.white .wrap .logo .light,
.mob-header.scrolled .wrap .logo .light {
  display: none !important;
}

.mob-header.white .wrap .logo .dark,
.mob-header.scrolled .wrap .logo .dark {
  display: block !important;
}

.mob-header.white .wrap .burger svg path,
.mob-header.scrolled .wrap .burger svg path {
  stroke: #6B7280;
}

.mob-header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.mob-header .wrap .logo img {
  object-fit: contain;
  height: 32px;
}

.mob-menu {
  display: none;
}

@media (min-width: 992px) {
@keyframes search {
    0% {
      width: 0px;
    }

    100% {
      width: 1065px;
    }
}

  .mob-header {
    display: none;
  }

  .header {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }

  .header.header-home .logo .dark {
    display: none !important;
  }

  .header.header-home .logo .light {
    display: block !important;
  }

  .header .button {
    max-height: 50px;
  }

  .header .wrap {
    flex-wrap: nowrap;
  }

  .header .logo {
    margin-right: 15px;
  }

  .header .search {
    position: relative;
    z-index: 15;
  }

  .header .search .search-wrap {
    transition: 0.2s;
    position: absolute;
    left: 15px;
    top: 0;
    height: 50px;
    z-index: 10;
    width: 0px;
    transition: 0.2s;
  }

  .header .search.active .search-wrap {
    display: flex !important;
    transition: 0.2s;
    animation-name: search;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .header .search-toggle {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    cursor: pointer;
    margin: 0 15px;
  }

  .header .catalog-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 15px;
    position: relative;
  }

  .header .catalog-toggle.active span {
    color: #2CB4C2 !important;
  }

  .header .catalog-toggle.active svg path {
    stroke: #2CB4C2 !important;
  }

  .header .catalog-toggle.active::after {
    position: absolute;
    content: "";
    height: 45px;
    top: 100%;
    right: 0;
    width: 200px;
  }

  .header .catalog-toggle .icon {
    margin-right: 10px;
  }

  .header .catalog-toggle span {
    color: #fff;
    font-size: 16px;
    display: block;
  }

  .header-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header-contacts .link {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    margin: 0 15px;
  }

  .header .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 48px;
    margin-left: 30px;
    background-color: transparent;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher {
    color: #fff;
    box-shadow: none;
    background-color: transparent;
    position: relative;
    overflow: visible;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options {
    position: absolute;
    transition: 0;
    background-color: #fff;
    padding: 5px;
    width: max-content;
    left: auto;
    right: -15px;
    top: calc(100% + 45px);
    transition: 0;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    padding: 24px;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #0A3141;
    padding: 0;
    margin-bottom: 14px;
    font-family: "Onest", sans-serif;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options a img {
    width: 24px;
    height: auto;
    object-fit: contain;
    margin-right: 14px;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options a:hover {
    background-color: #fff;
    color: #2CB4C2;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options a:last-child {
    margin-bottom: 0;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected {
    background-color: transparent !important;
    z-index: 10 !important;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang {
    background-color: transparent !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    position: relative;
    height: 35px;
    padding: 0px 12px;
    line-height: 1;
    border-radius: 8px;
    padding-right: 30px;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang:hover {
    background-color: #2CB4C2 !important;
    color: #fff !important;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang:hover .gt-lang-code {
    color: #fff;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    right: 5px;
    top: calc(50% + 2px);
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/arr-down-white.svg);
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang span {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: "Onest", sans-serif;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang span.gt_float_switcher-arrow {
    display: none;
  }

  .header .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang img {
    display: none;
  }

  .header .button {
    margin-left: 30px;
  }

  .header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header nav ul > li {
    position: relative;
  }

  .header nav ul > li.menu-item-has-children.opened > a,
  .header nav ul > li.menu-item-has-children.opened > span {
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
  }

  .header nav ul > li.menu-item-has-children.opened > a::after,
  .header nav ul > li.menu-item-has-children.opened > span::after {
    transform: translateY(-50%) rotate(180deg);
    transition: 0.2s;
  }

  .header nav ul > li.menu-item-has-children > a,
  .header nav ul > li.menu-item-has-children > span {
    cursor: pointer;
    position: relative;
    padding-right: 44px;
  }

  .header nav ul > li.menu-item-has-children > a::after,
  .header nav ul > li.menu-item-has-children > span::after {
    position: absolute;
    content: "";
    height: 24px;
    transition: 0.2s;
    width: 24px;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/menu-arr-down.svg);
  }

  .header nav ul > li ul {
    position: absolute;
    background-color: #fff;
    border-radius: 24px;
    padding: 30px;
    left: 0;
    top: calc(100% + 24px);
    width: max-content;
    display: none;
  }

  .header nav ul > li ul li:last-child a,
  .header nav ul > li ul li:last-child span {
    margin-bottom: 0;
  }

  .header nav ul > li ul li a,
  .header nav ul > li ul li span {
    color: #0A3141;
    font-size: 16px;
    padding: 0;
    height: auto;
    display: block;
    margin-bottom: 14px;
    white-space: nowrap;
  }

  .header nav ul > li ul::after {
    position: absolute;
    content: "";
    height: 26px;
    top: -24px;
    left: 0;
    right: 0;
    width: 100%;
  }

  .header nav ul > li > a,
  .header nav ul > li > span {
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 14px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .header-pc {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    transition: 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .header .header-pc .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header.header-white,
  .header.header-open-menu {
    background-image: url("../img/bg.jpg");
    background-color: lightgray;
    background-position: 0% 0%;
    background-repeat: repeat;
  }

  .header.header-white .button,
  .header.header-open-menu .button {
    background-color: #fff;
  }

  .header.header-white .search .seatch-toggle,
  .header.header-open-menu .search .seatch-toggle {
    transition: 0.2s;
  }

  .header.header-white .search .seatch-toggle:hover,
  .header.header-open-menu .search .seatch-toggle:hover {
    background-color: #2CB4C2 !important;
  }

  .header.header-white .search .search-wrap,
  .header.header-open-menu .search .search-wrap {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1px solid #F6F8FA;
  }

  .header.header-white .lang #gt_float_wrapper .gt_float_switcher .gt_options,
  .header.header-open-menu .lang #gt_float_wrapper .gt_float_switcher .gt_options {
    box-shadow: 0 0 15px rgba(10, 49, 65, 0.1);
  }

  .header.header-white .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang:hover::after,
  .header.header-open-menu .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang:hover::after {
    background-image: url(../img/icons/menu-arr-down.svg) !important;
  }

  .header.header-white .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang::after,
  .header.header-open-menu .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang::after {
    background-image: url(../img/icons/arr-down-dark.svg);
  }

  .header.header-white .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang span,
  .header.header-open-menu .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang span {
    color: #0A3141;
  }

  .header.header-white .catalog-toggle span,
  .header.header-open-menu .catalog-toggle span {
    color: #0A3141;
  }

  .header.header-white .catalog-toggle svg path,
  .header.header-open-menu .catalog-toggle svg path {
    stroke: #0A3141;
  }

  .header.header-white .header-pc,
  .header.header-open-menu .header-pc {
    border-color: #E5E7EB;
  }

  .header.header-white .search-toggle,
  .header.header-open-menu .search-toggle {
    background-color: #fff;
    backdrop-filter: blur(0);
  }

  .header.header-white .search-toggle svg path,
  .header.header-open-menu .search-toggle svg path {
    stroke: #9CA3AF;
  }

  .header.header-white a.link,
  .header.header-open-menu a.link {
    color: #0A3141;
  }

  .header.header-white .button.button-transparent,
  .header.header-open-menu .button.button-transparent {
    color: #0A3141;
  }

  .header.header-white .button.button-transparent:hover,
  .header.header-open-menu .button.button-transparent:hover {
    background-color: transparent;
  }

  .header.header-white nav ul li.menu-item-has-children.opened > a,
  .header.header-white nav ul li.menu-item-has-children.opened > span,
  .header.header-open-menu nav ul li.menu-item-has-children.opened > a,
  .header.header-open-menu nav ul li.menu-item-has-children.opened > span {
    transition: 0.2s;
    background-color: #2CB4C2;
    backdrop-filter: blur(10px);
    color: #fff;
  }

  .header.header-white nav ul li.menu-item-has-children.opened > a::after,
  .header.header-white nav ul li.menu-item-has-children.opened > span::after,
  .header.header-open-menu nav ul li.menu-item-has-children.opened > a::after,
  .header.header-open-menu nav ul li.menu-item-has-children.opened > span::after {
    background-image: url(../img/icons/menu-arr-down.svg);
  }

  .header.header-white nav ul li.menu-item-has-children > a::after,
  .header.header-white nav ul li.menu-item-has-children > span::after,
  .header.header-open-menu nav ul li.menu-item-has-children > a::after,
  .header.header-open-menu nav ul li.menu-item-has-children > span::after {
    background-image: url(../img/icons/arr-menu-dark.svg);
  }

  .header.header-white nav ul li a,
  .header.header-white nav ul li span,
  .header.header-open-menu nav ul li a,
  .header.header-open-menu nav ul li span {
    color: #0A3141;
  }

  .header.header-white .logo .light,
  .header.header-open-menu .logo .light {
    display: none !important;
  }

  .header.header-white .logo .dark,
  .header.header-open-menu .logo .dark {
    display: block !important;
  }

  .pc-catalog {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-image: url("../img/bg.jpg");
    background-color: lightgray;
    background-position: 0% 0%;
    background-repeat: repeat;
    padding-top: 105px;
    color: #0A3141;
    display: none;
  }

  .pc-catalog.scrolled {
    padding-top: 75px;
  }

  .pc-catalog .container {
    height: 100%;
  }

  .pc-catalog .wrap {
    width: 310px;
    padding-right: 10px;
    border-right: 1px solid #E5E7EB;
    margin-right: 40px;
    padding: 10px;
    padding-left: 0;
    display: block;
    height: 100%;
    position: relative;
  }

  .pc-catalog .wrap .sub-menu {
    position: absolute;
    left: 310px;
    top: 0;
    width: 980px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    background-color: transparent;
    height: auto;
    display: flex;
    color: #000;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display: none;
  }

  .pc-catalog .wrap .sub-menu::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 40px;
    left: -40px;
    top: 0;
  }

  .pc-catalog .wrap .sub-menu-wrap {
    width: 33.3%;
    margin-right: 20px;
  }

  .pc-catalog .wrap .sub-menu-wrap b {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    width: 100%;
    min-height: 24px;
  }

  .pc-catalog .wrap .sub-menu-wrap a {
    display: block;
    margin-bottom: 14px;
    font-size: 16px;
    letter-spacing: -0.5px;
  }

  .pc-catalog .wrap .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 5px 10px;
    transition: 0.2s;
  }

  .pc-catalog .wrap .item:hover {
    background-color: #F6F8FA !important;
  }

  .pc-catalog .wrap .item:hover p {
    color: #2CB4C2;
  }

  .pc-catalog .wrap .item.active {
    background-color: #F6F8FA !important;
  }

  .pc-catalog .wrap .item.active p {
    color: #2CB4C2 !important;
  }

  .pc-catalog .wrap .item .icon {
    width: 60px;
    height: 60px;
  }

  .pc-catalog .wrap .item p {
    width: calc(100% - 60px - 8px);
    font-size: 16px;
    color: #0A3141 !important;
  }

  .header.scrolled {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    animation-name: header;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    background-image: url("../img/bg.jpg");
    background-color: lightgray;
    background-position: 0% 0%;
    background-repeat: repeat;
    border-bottom: 1px solid #E5E7EB;
  }

  .header.scrolled .search .search-wrap {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1px solid #F6F8FA;
  }

  .header.scrolled .lang #gt_float_wrapper .gt_float_switcher .gt_options {
    box-shadow: 0 0 15px rgba(10, 49, 65, 0.1);
  }

  .header.scrolled .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang {
    transition: 0.2s;
  }

  .header.scrolled .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang:hover {
    transition: 0.2s;
  }

  .header.scrolled .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang:hover:after {
    transition: 0.2s;
    background-image: url(../img/icons/menu-arr-down.svg) !important;
  }

  .header.scrolled .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang::after {
    transition: 0.2s;
    background-image: url(../img/icons/arr-down-dark.svg);
  }

  .header.scrolled .lang #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang span {
    color: #0A3141;
  }

  .header.scrolled .catalog-toggle span {
    color: #0A3141;
  }

  .header.scrolled .catalog-toggle svg path {
    stroke: #0A3141;
  }

  .header.scrolled .header-pc {
    border-color: #E5E7EB;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header.scrolled .header-pc .button {
    max-height: 50px;
  }

  .header.scrolled .search-toggle {
    background-color: #fff;
    backdrop-filter: blur(0);
  }

  .header.scrolled .search-toggle:hover {
    background-color: #2CB4C2 !important;
  }

  .header.scrolled .search-toggle:hover svg path {
    stroke: #fff;
  }

  .header.scrolled .search-toggle svg path {
    stroke: #9CA3AF;
  }

  .header.scrolled a.link {
    color: #0A3141;
  }

  .header.scrolled .button.button-transparent {
    color: #0A3141;
    background-color: #fff;
  }

  .header.scrolled .button.button-transparent:hover {
    background-color: #2CB4C2 !important;
    color: #fff !important;
  }

  .header.scrolled nav ul li.menu-item-has-children.opened > a,
  .header.scrolled nav ul li.menu-item-has-children.opened > span {
    transition: 0.2s;
    background-color: #2CB4C2 !important;
    backdrop-filter: blur(10px);
    color: #fff;
  }

  .header.scrolled nav ul li.menu-item-has-children.opened > a::after,
  .header.scrolled nav ul li.menu-item-has-children.opened > span::after {
    background-image: url(../img/icons/menu-arr-down.svg);
  }

  .header.scrolled nav ul li.menu-item-has-children > a::after,
  .header.scrolled nav ul li.menu-item-has-children > span::after {
    background-image: url(../img/icons/arr-menu-dark.svg);
  }

  .header.scrolled nav ul li a,
  .header.scrolled nav ul li span {
    color: #0A3141;
  }

  .header.scrolled .logo .light {
    display: none !important;
  }

  .header.scrolled .logo .dark {
    display: block !important;
  }
}

@media (min-width: 2000px) {
  html {
    zoom: 1.2;
  }
}

@media (min-width: 2300px) {
  html {
    zoom: 1.3;
  }
}

@media (max-width: 992px) {
  .container,
  .mob-nav .menu_sublist {
    max-width: 740px;
  }

  .fixed {
    padding-right: 0;
    max-width: 100%;
  }

  .fixed .header.scrolled {
    max-width: 100%;
  }

  .fixed .header.scrolled::after {
    display: none;
  }

  .offer .wrap {
    padding-top: 95px;
  }

  .offer .wrap h1 {
    font-size: 50px;
  }

  .offer .wrap p {
    margin-bottom: 180px;
  }

  .mob-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-color: lightgray;
    background-position: 0% 0%;
    background-repeat: repeat;
    z-index: 120;
  }

  .mob-menu .back-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .mob-menu .back-btn .icon {
    margin-right: 10px;
  }

  .mob-menu .back-btn span {
    font-size: 16px;
    font-weight: 500;
    color: #2CB4C2;
  }

  .mob-menu .menu {
    display: block;
    height: 100dvh;
    overflow-y: auto;
    padding-top: 80px;
    padding-bottom: 20px;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    min-width: calc(100% + 10px);
    padding-right: 10px;
  }

  .mob-menu .search-wrap {
    display: block;
    margin-bottom: 15px;
  }

  .mob-menu .search-wrap .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp {
    padding: 0;
  }

  .mob-menu .search-wrap .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-input {
    padding-left: 20px;
    border-radius: 12px;
  }

  .mob-menu .search-wrap .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-input::placeholder {
    font-size: 16px;
    color: #818793;
    font-family: "Onest", sans-serif;
  }

  .mob-menu .search-wrap .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    left: auto;
    height: 24px;
    width: 24px;
    background-size: 24px 24px;
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(../img/icons/mob-search.svg);
    border-radius: 0;
  }

  .mob-menu .search-wrap .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit svg {
    display: none;
  }

  .mob-menu .top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 20000;
    padding: 15px 0;
    background-color: #F4F6F6;
    border-bottom: 1px solid #E5E7EB;
    height: 63px;
  }

  .mob-menu .top .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .mob-menu .top .right .lang {
    margin-right: 24px;
  }

  .mob-menu .top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mob-menu .top .logo img {
    height: 32px;
    object-fit: contain;
  }

  .mob-menu .mob-nav .menu_sublist {
    position: fixed;
    background-image: url("../img/bg.jpg");
    background-color: lightgray;
    background-position: 0% 0%;
    background-repeat: repeat;
    z-index: 20000;
    padding-top: 18px;
    top: 63px;
    overflow-y: auto;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100dvh - 64px);
    display: none;
    padding-bottom: 40px;
  }

  .mob-menu .mob-nav .menu_sublist > a,
  .mob-menu .mob-nav .menu_sublist > span {
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: 16px;
    line-height: 1.2;
  }

  .mob-menu .mob-nav .menu_sublist li:last-child a,
  .mob-menu .mob-nav .menu_sublist li:last-child span {
    margin-bottom: 0;
  }

  .mob-menu .mob-nav .menu_sublist li a,
  .mob-menu .mob-nav .menu_sublist li span {
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-bottom: 14px;
    color: #0A3141;
    padding: 0;
    border: none;
  }

  .mob-menu .mob-nav ul {
    display: block;
  }

  .mob-menu .mob-nav ul li.menu-item-has-children ul {
    display: none;
  }

  .mob-menu .mob-nav ul li.menu-item-has-children > a,
  .mob-menu .mob-nav ul li.menu-item-has-children > span {
    position: relative;
  }

  .mob-menu .mob-nav ul li.menu-item-has-children > a::after,
  .mob-menu .mob-nav ul li.menu-item-has-children > span::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/mob-arr-right.svg);
  }

  .mob-menu .mob-nav ul li > a,
  .mob-menu .mob-nav ul li > span {
    padding: 16px 0;
    display: block;
    position: relative;
    border-bottom: 1px solid #E5E7EB;
    padding-right: 34px;
  }

  .mob-menu .mob-cats .wrapper .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 5px 0;
    border-bottom: 1px solid #E5E7EB;
  }

  .mob-menu .mob-cats .wrapper .item img {
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 10px;
  }

  .mob-menu .mob-cats .wrapper .item p {
    width: calc(100% - 60px);
    padding-right: 34px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    color: #0A3141 !important;
  }

  .mob-menu .mob-cats .wrapper .item .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .mob-menu .mob-cats .sub-menu {
    position: fixed;
    background-image: url("../img/bg.jpg");
    background-color: lightgray;
    background-position: 0% 0%;
    background-repeat: repeat;
    z-index: 20000;
    padding-top: 18px;
    top: 63px;
    overflow-y: auto;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100dvh - 64px);
    display: none;
  }

  .mob-menu .mob-cats .sub-menu .mt-top {
    display: block;
    margin-top: -15px;
  }

  .mob-menu .mob-cats .sub-menu a.main-link {
    color: #0A3141;
    font-size: 24px;
    font-weight: 500;
    display: block;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  .mob-menu .mob-cats .sub-menu-wrap {
    display: block;
    margin-bottom: 30px;
  }

  .mob-menu .mob-cats .sub-menu-wrap b {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .mob-menu .mob-cats .sub-menu-wrap ul {
    display: block;
  }

  .mob-menu .mob-cats .sub-menu-wrap ul li:last-child a,
  .mob-menu .mob-cats .sub-menu-wrap ul li:last-child span {
    margin-bottom: 0;
  }

  .mob-menu .mob-cats .sub-menu-wrap ul li a,
  .mob-menu .mob-cats .sub-menu-wrap ul li span {
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-bottom: 14px;
    color: #0A3141;
  }

  .mob-menu .mob-contacts {
    display: block;
    position: relative;
    margin-top: 20px;
  }

  .mob-menu .mob-contacts .social {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .mob-menu .mob-contacts .social a {
    background-color: #fff;
    border-radius: 10px;
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mob-menu .mob-contacts .link {
    color: #0A3141;
    display: block;
    margin-bottom: 20px;
    width: max-content;
  }

  .mob-menu .mob-contacts .link span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 6px;
  }

  .mob-menu .mob-contacts .link p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    color: #818793;
  }

  .mob-menu .mob-contacts .link:hover {
    color: #0A3141;
  }

  .mob-menu .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 48px;
    margin-left: 30px;
    background-color: transparent;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher {
    color: #0A3141;
    box-shadow: none;
    background-color: transparent;
    position: relative;
    overflow: visible;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options {
    position: absolute;
    transition: 0;
    background-color: #fff !important;
    padding: 5px;
    width: max-content;
    left: auto;
    right: -15px;
    top: calc(100% + 15px);
    transition: 0;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    padding: 24px;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #0A3141;
    padding: 0;
    margin-bottom: 14px;
    font-family: "Onest", sans-serif;
    background-color: #fff !important;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options a img {
    width: 24px;
    height: auto;
    object-fit: contain;
    margin-right: 14px;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt_options a:last-child {
    margin-bottom: 0;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected {
    background-color: transparent !important;
    z-index: 10 !important;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang {
    background-color: transparent !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    position: relative;
    padding-right: 28px;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    right: 0;
    top: calc(50% + 2px);
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/arr-down-dark.svg);
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang span {
    color: #0A3141;
    font-weight: 400;
    font-size: 16px;
    font-family: "Onest", sans-serif;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang span.gt_float_switcher-arrow {
    display: none;
  }

  .mob-menu .lang .gtranslate_wrapper #gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang img {
    display: none;
  }
}

@media (max-width: 767px) {
  .container,
  .mob-nav .menu_sublist {
    max-width: 540px;
  }

  .offer {
    margin-bottom: 40px;
  }

  .offer .wrap {
    padding-bottom: 40px;
  }

  .offer .wrap .russia {
    display: none;
  }

  .offer .wrap h1 {
    font-size: 36px;
    margin-bottom: 16px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .offer .wrap p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 180px;
  }

  .offer .wrap .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .offer .wrap .btns .button {
    margin: 0;
    width: calc(50% - 4px);
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container,
  .mob-nav .menu_sublist {
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1275px) {
  html {
    zoom: 0.7;
  }
}

@media (min-width: 1275px) and (max-width: 1400px) {
  html {
    zoom: 0.9;
  }
}