@use "../reset/_vars" as _vars

.comments
  margin-top: 40px
  .logged-in-as
    display: none
  .comments-area
    display: block
    &>ul
      margin-bottom: 60px
  li.comment
    display: block
    margin-bottom: 24px
    .reply
      a
        color: _vars.$surfaces-medium
        text-decoration: none
        font-weight: 400
    &:first-child
      border-top: none
      padding-top: 0
    .content
      margin-bottom: 0
      padding-bottom: 24px
      p
        line-height: 1.5
        &:last-child
          margin-bottom: 0
    .top
      display: flex
      justify-content: flex-start
      align-items: center
      margin-bottom: 16px
      .meta
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        .author
          font-size: 18px
          font-weight: 700
          margin-bottom: 0px
          line-height: 1
          display: block
          .name
            display: flex
            justify-content: flex-start
            align-items: center
            font-size: 18px
            .icon
              margin: 0 10px
        .date
          margin: 0
          color: _vars.$surfaces-medium
          font-weight: 400
          line-height: 1.2
          margin-top: 6px
      .avatar
        display: flex
        justify-content: center
        align-items: center
        background-color: _vars.$surfaces-default
        color: #fff
        border-radius: 100%
        margin-right: 16px
        font-weight: 700
        line-height: 1
        overflow: hidden
        font-size: 28px
        height: 64px
        width: 64px
        min-width: 64px
        img
          width: 100%
          height: 100%
          object-fit: cover
          border-radius: 100%
  .comments-title
    font-size: 24px
    font-weight: 700
    margin-bottom: 32px
    display: block
  .comment-error
    margin-bottom: 20px
    font-size: 14px
    color: _vars.$red
  .comment-success
    color: _vars.$green
    font-size: 16px
    margin-bottom: 20px
  .children
    padding-left: 32px
    position: relative
    margin-top: -40px
    z-index: 2
    border-bottom: 1px solid _vars.$surfaces-borders
    margin-bottom: 24px
    &::after
      position: absolute
      content: ''
      height: 36px
      width: 16px
      background-repeat: no-repeat
      background-size: contain
      background-image: url(../img/icons/comment-children.svg)
      left: 0
      top: 0
    li
      .content
        border: none
        margin-bottom: 0
        padding-bottom: 0
      .top
        .meta
          flex-direction: row
          display: flex
          justify-content: flex-start
          align-items: center
          
          .author
            margin: 0
          .name
            margin: 0
            margin-right: 10px
            line-height: 1.2
          .date
            display: none
        .avatar
          font-size: 24px
          height: 42px
          width: 42px
          min-width: 42px
          img
            width: 30px
            object-fit: cover
            border-radius: 0
            height: 30px


@media (max-width: 1080px)
  .comments
    margin-top: 40px
    .comments-area
      display: block
      &>ul
        margin-bottom: 30px
    li.comment
      margin-bottom: 24px
      padding-top: 24px
      &:first-child
        border-top: none
        padding-top: 0
      .top
        .meta
          .author
            font-size: 16px
            margin-bottom: 6px
        .avatar
          margin-right: 10px
          font-size: 18px
    .children
      padding-left: 24px
      position: relative
      margin-top: -30px
      li
        padding: 0
        .top
          .meta
            .author
              margin: 0
            .name
              margin: 0
              margin-right: 6px
              line-height: 1.2
          .avatar
            width: 36px
            min-width: 36px
            height: 36px
            margin-right: 14px



.comment-respond 
  .mini-title
    margin-bottom: 32px
    font-size: 32px
  .reply-to-wrap
    display: none
    &.active
      display: block
      margin-bottom: 30px
      margin-top: -10px
      font-weight: 500
      .cancel-reply
        color: _vars.$main
        cursor: pointer

  .form
    display: flex
    flex-wrap: wrap
  .comment-form-cookies-consent
    display: none
  .button
    padding: 0 24px
    background-color: _vars.$surfaces-default
    cursor: pointer
    &:hover
      background-color: _vars.$hover_dark
  .input
    width: 100%
    margin-bottom: 16px
    &.full
      width: 100%
    &.half
      width: 260px
      margin-right: 16px

@media (max-width: 1080px)
  .comment-respond 
    .reply-to-wrap
      &.active
        margin-bottom: 18px
        margin-top: 0px
        line-height: 1.5
    .mini-title
      margin-bottom: 18px
      font-size: 28px
    .form
      display: block
    .comment-form-cookies-consent
      display: none
    .button
      padding: 0 24px
      width: 100%
      
    .input
      width: 100%
      &.full
        width: 100%
      &.half
        width: 100%
        margin-right: 0


  










  










  










  










  










  










  










  










  










  










  










  










  










  










  






