@use "../reset/_vars" as _vars

.form.form-white
  .privacy-wrap
    small.privacy-item
      &.active
        &::after
          background-color: _vars.$main
      &::after
        background-color: _vars.$gray_200

.privacy-wrap
  display: block
  margin-top: 20px
  max-width: 760px
  &.checkout-privacy
    margin-top: -10px
    margin-bottom: 20px
    small.privacy-item
      color: #000
      a
        color: #000
  &.dark
    small.privacy-item
      color: #fff
      &.active
        &::after
          background-color: _vars.$main
      &::after
        background-color: #fff
      a
        color: #fff
  small.privacy-item
    display: block
    padding-left: 34px
    position: relative
    color: _vars.$gray_medium
    font-size: 14px
    margin: 0
    margin-bottom: 8px
    cursor: pointer
    user-select: none
    min-height: 24px
    padding-top: 4px
    &.active
      &::after
        background-color: _vars.$accent
        background-image: url(../img/icons/privacy.svg)
    a
      color: _vars.$gray_medium
      font-size: 14px
    &::after
      position: absolute
      content: ''
      height: 24px
      width: 24px
      border-radius: 8px
      left: 0
      top: 50%
      transform: translateY(-50%)
      background-color: #fff
      background-repeat: no-repeat
      background-size: 15px 12px
      background-position: center

@media (max-width: 1080px)
  .privacy-wrap
    &.checkout-privacy
      margin-top: -6px
      margin-bottom: 20px
      small.privacy-item
        color: #000
        a
          color: #000
    small.privacy-item
      font-size: 12px
      margin: 0
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
      a
        font-size: 12px
     

  


  


  


  
